table th {
    border: 1px solid #D8D8D8;
    text-align: center;
}

td{
    padding: 5px;
}

#contentGrid td{
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #D8D8D8;
}

h1{
    text-align: center;
}